@import "../variables.scss";

.label {
  position: relative;
}

.fillWidth {
  width: 100%;
}

.errorLabel {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  text-align: right;
  color: $red-600;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;

  > svg {
    margin-left: 7px;
  }
}
